__pycache__
.vscode
.env*
!.env.example
*.log

train/result/**/*
train/textbooks/*.pdf
train/chinese-gushiwen/**/*.jsonl
train/textbook*.json
train/word-frequency.json
train/*.jsonl

db/*
.coverage
