__pycache__
.vscode
.env
*.log

train/result/**/*
train/textbooks/*.pdf
train/chinese-gushiwen/**/*.jsonl
train/textbook*.json
train/word-frequency.json
train/*.jsonl

db/pocketbase*
db/pb_data
