@import 'tailwindcss';

@theme {
    --color-danger-50: #FEF6F6;
    --color-danger-100: #FDEEEE;
    --color-danger-200: #FAD4D4;
    --color-danger-300: #F7BBBB;
    --color-danger-400: #F28787;
    --color-danger-500: #EC5454;
    --color-danger-600: #D44C4C;
    --color-danger-700: #8E3232;
    --color-danger-800: #6A2626;
    --color-danger-900: #471919;

    --color-primary-50: #FFFDF7;
    --color-primary-100: #FFFBF0;
    --color-primary-200: #FEF4D8;
    --color-primary-300: #FEEEC1;
    --color-primary-400: #FDE193;
    --color-primary-500: #FCD464;
    --color-primary-600: #E3BF5A;
    --color-primary-700: #977F3C;
    --color-primary-800: #715F2D;
    --color-primary-900: #4C401E;

    --color-warning-50: #FEF8F5;
    --color-warning-100: #FEF2EC;
    --color-warning-200: #FCDECE;
    --color-warning-300: #FBCBB1;
    --color-warning-400: #F7A377;
    --color-warning-500: #F47C3C;
    --color-warning-600: #DC7036;
    --color-warning-700: #924A24;
    --color-warning-800: #6E381B;
    --color-warning-900: #492512;

    --color-secondary-50: #F4F6F7;
    --color-secondary-100: #EAECEF;
    --color-secondary-200: #CAD0D6;
    --color-secondary-300: #ABB4BE;
    --color-secondary-400: #6B7C8D;
    --color-secondary-500: #2C445C;
    --color-secondary-600: #283D53;
    --color-secondary-700: #1A2937;
    --color-secondary-800: #141F29;
    --color-secondary-900: #0D141C;
}